.red {
    background-color: #F8E0E0 !important;
}
.amber {
    background-color: #FFC691 !important;
}
.green {
    background-color: #D8F6CE !important;
}
.yellow {
    background-color: #FFFF00 !important;
}